<div class="back-wrapper">
	<div class="form-container">

		<h3 class="form-header">
			Create new event
		</h3>

		<form (submit)='SubmitForm()' method='post' name='createEventForm'>

			<div class="row login-row">

				<label class="col-lg-5 login-label">
                    Description
                </label>

				<input type="text" class="col-lg-7 login-input" name="Description" [(ngModel)]="Description" required />

			</div>

			<div class="row login-row">

				<label class="col-lg-5 login-label">
                    Event date
                </label>

				<input type="date" class="col-lg-7 login-input" name="Date" [(ngModel)]="Date" required />

			</div>

			<div class="row login-row">

				<label class="col-lg-5 login-label">
                    Start
                </label>

				<input type="time" class="col-lg-7 login-input" name="Start" [(ngModel)]="Start" required />

			</div>

			<div class="row login-row">

				<label class="col-lg-5 login-label">
                    End
                </label>

				<input type="time" class="col-lg-7 login-input" name="End" [(ngModel)]="End" required />

			</div>

            <div class="row login-row">

                <label class="col-lg-5 login-label">
                    Place
                </label>

                <input type="text" class="col-lg-7 login-input" name="Place" [(ngModel)]="Place" required />

            </div>

            <div class="row login-row">

                <label class="col-lg-5 login-label">
                    Available to
                </label>

                <select class="col-lg-7 login-input" [(ngModel)]='AvailableTo' name='AvailableTo'>
					<option value="0"> Private </option>
					<option value="1"> Friends </option>
					<option value="2"> Public </option>
                </select>

            </div>

			<div *ngIf="!IsSuccess" class="row login-row text-danger text-center">
				{{ ErrorMessage }}
			</div>

			<div class="row login-row">
				<button type="submit" class="col-lg-offset-5 submit-btn">
                    Create
                </button>
			</div>

		</form>

	</div>
</div>