<div class="delete-event-container">

    <h2 class="delete-header">
        Are you sure you want to delete event '{{ event.Description }}' ?
    </h2>

    <div class="row btn-row">
        <div class="col-lg-6 text-right">
            <a class="delete-link" (click)='delete()'> YES </a>
        </div>
        <div class="col-lg-6 text-left">
            <a class='delete-link' (click)='cancel()'> NO </a>
        </div>
    </div>

</div>