<div class="row header-row">
  <h2 class="col-lg-3 header-title text-right">
    People Locator
  </h2>

  <div class="col-lg-offset-5 col-lg-3 header-link-container" *ngIf="user == null">

    <a routerLink="/login" class="header-link">
      Login
    </a>

    <a routerLink="/register" class="header-link">
      Register
    </a>

  </div>

  <div class="col-lg-offset-5 col-lg-3 header-link-container" *ngIf="user != null">

      <div class="profile-header">
        Hello, {{ user.Login }}
      </div>

      <a class="header-link" (click)="LogOut()">
        LogOut
      </a>

  </div>
</div>

<router-outlet></router-outlet>