<div class="back-wrapper">
  <div class="form-container">

    <h3 class="form-header">
      Sign in
    </h3>

    <form (submit)='SubmitForm()'>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Login
        </label>

        <input type="text" class="col-lg-7 login-input" name="Login" [(ngModel)]="Login" required />

      </div>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Password
        </label>

        <input type="password" class="col-lg-7 login-input" name="Password" [(ngModel)]="Password" required />

      </div>

      <div [hidden]="IsSuccess" class="row login-row text-danger text-center">
        Invalid login or password
      </div>

      <div class="row login-row">
        <button type="submit" class="col-lg-offset-5 submit-btn">
          Sign in
        </button>
      </div>

    </form>

  </div>
</div>





















