<div class="main-container" *ngIf='!searching'>
	<div class="description">
		<p class="general-description text-center">
			Welcome to system that will help you find peoples you want (need or should or must we don't care) to meet now. Or maybe not
			now but you know when, or just meet and you want to choose date when it's possible. We use unique place identifying technique
			that depends and rules by users. Users control everything here. And now more details.
		</p>

		<p class="list-item-header text-center">
			System suggests two ways to find somebody's location:
		</p>

		<div class="list-item">
			<span class="list-item-marker"></span> Firstly, we use schedules provided by users to detect their location.
		</div>

		<div class="list-item">
			<span class="list-item-marker"></span> Secondly, we suggest to use request for meeting mechanism. Shortly it's about sending
			some kind of request which recipient can accept or decline. If you accept you send your's location information to requester.
		</div>

		<p class="description-footer">
			It's easy but we hope effective.
		</p>

	</div>
</div>

<div class="join-container">

	<div class="row text-center join-header-row">
		Start working with system
	</div>


	<div class="row join-main-row">

		<div class="col-lg-6 join-left-block">
			<a [class]="searching ? 'join-link inverse' : 'join-link'" (click)='searching = !searching'>
        Search people
      </a>
		</div>

		<div class="col-lg-6 join-right-block">
			<a routerLink='/register' class="join-link">
        Create new Account
      </a>
		</div>
	</div>
</div>

<div class="search-wrapper" *ngIf='searching'>
	<div class="search-container">
		<div class="row text-center">
			<input type="search" class="search-box" [(ngModel)]='query' />
		</div>
		<div class="row text-center">
			<a class='search-link' (click)='searchQuery()'>
        Search
      </a>
		</div>
	</div>
</div>

<footer>
	2016 by Vladimir Svirchkov
</footer>