<div class="back-wrapper">
  <div class="form-container">

    <h3 class="form-header">
      Create account
    </h3>

    <form name="registerForm" method="post" action="#" (submit)="Register()">

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Login
        </label>

        <input type="text" class="col-lg-7 login-input" name="Login" [(ngModel)]="user.Login" required />

      </div>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Password
        </label>

        <input type="password" class="col-lg-7 login-input" name="Password" [(ngModel)]="user.Password" required />

      </div>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Email
        </label>

        <input type="email" class="col-lg-7 login-input" name="Email" [(ngModel)]="user.Email" required />

      </div>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Company
        </label>

        <input type="text" class="col-lg-7 login-input" name="Company" [(ngModel)]="user.Company" required />

      </div>

      <div class="row login-row">

        <label class="col-lg-5 login-label">
          Image
        </label>

        <input type="file" class="col-lg-7 login-input" name="Image" [(ngModel)]="Image" required accept="image/*" 
            (change)='validateImage()'/>

      </div>

      <div [hidden]="!hasErrors" class="row login-row text-danger text-center">
        Some error on server
      </div>

      <div class="row login-row">
        <button type="submit" class="col-lg-offset-5 submit-btn" >
          Sign up
        </button>
      </div>

    </form>

  </div>
</div>





















