<div class='container'>
	<h3 class="page-header">
		<span *ngIf="user != null && scheduleUser.Id == user.Id"> Manage your schedule </span>
		<span *ngIf="user == null || scheduleUser.Id != user.Id"> 
			Welcome to {{ scheduleUser != null ? scheduleUser.Login : "" }} schedule 
		</span>
	</h3>

	<div class="schedule">
		<div class="row schedule-header">
			<div class="col-lg-2 text-right padding-0">
				<button type='button' class="btn btn-nav nav-btn" (click)="prevDate()"> 
                    <span class='glyphicon glyphicon-arrow-left'>
                    </span>
                </button>
			</div>
			<div class="col-lg-8 text-center date-header">
				Planned for Date: {{ CurrentDate | date }}
			</div>
			<div class='col-lg-2 text-left padding-0'>
				<button type='button' class="btn btn-nav nav-btn" (click)='nextDate()'>
                    <span class='glyphicon glyphicon-arrow-right'>
                    </span>
                </button>
			</div>
		</div>
		<div class="row event-row" *ngIf="events.length > 0">
			<div *ngFor='let event of events' (click) = 'selectEvent(event)' 
                [class]='selectedEvent.Id == event.Id ? "row event-row selected-event-row" : "row event-row"'>
				<div class="col-lg-2 text-right">
					{{ event.Start | time }}
				</div>
				<div class='col-lg-8 text-center'>
					{{ event.Description }}
				</div>
				<div class="col-lg-2 text-left">
					{{ event.End | time }}
				</div>
			</div>
		</div>

        <div class="row event-row" *ngIf="events.length == 0">
            <i> No events planned for this day </i>
        </div>

	</div>

	<div class="create-event">
		<a (click)='moveToSearchUser()'>
			Search user
		</a>
		
		<a (click)='moveToFriends()'>
			Friends
		</a>
		
		<a class="margin-right-50" (click)='moveToRequests()'>
			Meeting request
		</a>

		<a (click)='goToCreateEvent()' *ngIf='user != null && scheduleUser.Id == user.Id'>
			Create new event
		</a>
		<a *ngIf='user != null && scheduleUser.Id == user.Id && selectedEvent.Id != 0' (click)='goToEditEvent()'>
			Edit event
		</a>
		<a *ngIf='user != null && scheduleUser.Id == user.Id && selectedEvent.Id != 0' (click)='goToDeleteEvent()'>
			Delete event 
		</a>
	</div>
</div>