<div class="row">

	<div class="col-lg-3">
		<div class="search-container">
			<div class="row text-center">
				<input type="search" class="search-box" [(ngModel)]='query' />
			</div>
			<div class="row text-center">
				<a class='search-link' (click)='searchQuery()'>
                    Search
                </a>
			</div>
		</div>

		<div class="menu-container">
			<a [class]="mode == SEARCH_USERS_MODE ? 'menu-item selected' : 'menu-item'" 
				(click)='switchMode(SEARCH_USERS_MODE)'>
				Search users
			</a>
			<a [class]="mode == FRIENDS_MODE ? 'menu-item selected' : 'menu-item'" 
				(click)='switchMode(FRIENDS_MODE)'> 
				Friends
			</a>
			<a [class]="mode == REQUEST_MODE ? 'menu-item selected' : 'menu-item'" 
				(click)='switchMode(REQUEST_MODE)'>
				Meeting requests
			</a>
		</div>
	</div>

	<div class="col-lg-9 result-container margin-bottom-20" *ngIf='mode == SEARCH_USERS_MODE;'>

		<h2 class="text-center color-555">
			Search results
		</h2>

		<div class="result">
			<div class="row">
				<div class="col-lg-3 user-block" *ngFor='let user of users'>
					<div class="text-center">
						<img class="img-circle" [src]='user.User.Image' width='220' height='150' />
					</div>

					<div class="name-row">
						{{ user.User.Login }} -> {{ user.User.Email }}
					</div>

					<div class="text-center">
						<a class="btn-link" (click)='moveToSchedule(user.User)'>
                            Go to schedule
                        </a>

						<a class="btn-link" (click)='addingFriend = user;' *ngIf='AuthenticatedUser != null && user.Relation == NO_RELATION && AuthenticatedUser.Id != user.User.Id'>
                            Add to friends
                        </a>
						<a class="btn-link" *ngIf='AuthenticatedUser != null && user.Relation == SENT_REQUEST && AuthenticatedUser.Id != user.User.Id'>
                            Waiting for response
                        </a>
						<a class="btn-link" (click)='answeringFriend = user;' *ngIf='AuthenticatedUser != null && user.Relation == RECEIVED_REQUEST && AuthenticatedUser.Id != user.User.Id'>
                            Received request. Answer
                        </a>
						<a class="btn-link" (click)='deletingFriend = user;' *ngIf='AuthenticatedUser != null && user.Relation == FRIENDS && AuthenticatedUser.Id != user.User.Id'>
                            Remove from friends
                        </a>
						<!-- empty line for myself -->
						<a class='btn-link' *ngIf='AuthenticatedUser != null && AuthenticatedUser.Id == user.User.Id'>
							-----
						</a> 

						<a class="btn-link" (click)='meetingFriend = user;' 
							*ngIf='!isInReceived(user.User.Id) && !isInSended(user.User.Id) && AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                            Request meeting
                        </a>
						
						<a class="btn-link" (click)='answerMeet(user)' 
							*ngIf='isInReceived(user.User.Id) && !isInAccepted(user.User.Id) && AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                            Received request.Answer
                        </a>
						
						<a class="btn-link"
							*ngIf='isInSended(user.User.Id)  && !isInAccepted(user.User.Id) && AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                            You already send request
                        </a>

						<a class="btn-link"
							*ngIf='isInAccepted(user.User.Id) && AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                            Meeting arranged
                        </a>
						
						<!-- empty line for myself -->
						<a class='btn-link' *ngIf='AuthenticatedUser != null && AuthenticatedUser.Id == user.User.Id'>
							It's your's account
						</a> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-9 result-container" *ngIf='mode == FRIENDS_MODE'>
		<h3 class="text-center">
			Your friends here
		</h3>
		<div class="row">
			<div class="col-lg-12 text-left friends-header">
				You send friend requests to this users
			</div>
			<div class="col-lg-3 user-block" *ngFor='let user of sendedRequestUsers'
				[hidden]='sendedRequestUsers == null || sendedRequestUsers.length == 0'>
				<div class="text-center">
					<img class="img-circle" [src]='user.User.Image' width='220' height='150' />
				</div>

				<div class="name-row">
					{{ user.User.Login }} -> {{ user.User.Email }}
				</div>

				<div class="text-center">
					<a class="btn-link" (click)='moveToSchedule(user.User)'>
                        Go to schedule
                    </a>

					<a class="btn-link" (click)='moveToSchedule(user.User)' *ngIf='AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                        Request for meeting
                    </a>
				</div>
			</div>
			
			<div class="col-lg-12 emp-message" *ngIf='sendedRequestUsers == null || sendedRequestUsers.length == 0'>
				You have currently no sended requests without answer
			</div>

		</div>
		<div class="row">
			<div class="col-lg-12 text-left friends-header">
				You get friend requests from this users
			</div>
			<div class="col-lg-3 user-block" *ngFor='let user of receivedRequestUsers' 
				[hidden]='receivedRequestUsers == null || receivedRequestUsers.length == 0'>
				<div class="text-center">
					<img class="img-circle" [src]='user.User.Image' width='220' height='150' />
				</div>

				<div class="name-row">
					{{ user.User.Login }} -> {{ user.User.Email }}
				</div>

				<div class="text-center">
					<a class="btn-link" (click)='moveToSchedule(user.User)'>
                        Go to schedule
                    </a>

					<a class="btn-link" (click)='answeringFriend = user;' 
						*ngIf='AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                        Answer on request
                    </a>

					<a class="btn-link" (click)='moveToSchedule(user.User)' 
						*ngIf='AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                        Request for meeting
                    </a>
				</div>
			</div>

			<div class="col-lg-12 emp-message" *ngIf='receivedRequestUsers == null || receivedRequestUsers.length == 0'>
				You have currently no received requests
			</div>
		</div>
		<div class="row margin-bottom-20">
			<div class="col-lg-12 text-left friends-header">
				Your friends
			</div>
			<div class="col-lg-3 user-block" *ngFor='let user of friends'
				[hidden]='friends == null || friends.length == 0'>
				<div class="text-center">
					<img class="img-circle" [src]='user.User.Image' width='220' height='150' />
				</div>

				<div class="name-row">
					{{ user.User.Login }} -> {{ user.User.Email }}
				</div>

				<div class="text-center">
					<a class="btn-link" (click)='moveToSchedule(user.User)'>
                        Go to schedule
                    </a>

					<a class="btn-link" (click)='deletingFriend = user;' 
						*ngIf='AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                        Remove from friends
                    </a>

					<a class="btn-link" (click)='moveToSchedule(user.User)' 
						*ngIf='AuthenticatedUser != null && AuthenticatedUser.Id != user.User.Id'>
                        Request for meeting
                    </a>
				</div>
			</div>

			<div class="col-lg-12 emp-message" *ngIf='friends != null && friends.length == 0'>
				You have no friends on our site. 
			</div>
		</div>
	</div>

	<div class="col-lg-9 result-container" *ngIf='mode == REQUEST_MODE'>
		<h3 class='text-center'>
			Displaying meeting requests here
		</h3>
		<div class="row">
			<div class="col-lg-12 text-left friends-header">
				You send meeting requests to this users
			</div>
			<div class="col-lg-3 user-block" *ngFor='let request of sendedRequests'
				[hidden]='sendedRequests == null || sendedRequests.length == 0'>
				<div class="text-center">
					<img class="img-circle" [src]='request.Receiver.Image' width='220' height='150' />
				</div>

				<div class="name-row">
					{{ request.Receiver.Login }} -> {{ request.Receiver.Email }}
				</div>

				<div class="text-center">
					<a class="btn-link" (click)='moveToSchedule(request.Receiver)'>
                        Go to schedule
                    </a>
					<a class="btn-link"
						*ngIf='isInSended(request.Receiver.Id)  && !isInAccepted(request.Receiver.Id)'>
                            You already send request
                    </a>

					<a class="btn-link"
						*ngIf='isInAccepted(request.Receiver.Id)'>
                            Meeting arranged
                    </a>
				</div>
			</div>
			
			<div class="col-lg-12 emp-message" *ngIf='sendedRequests == null || sendedRequests.length == 0'>
				You currently have no sended meeting requests
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12 text-left friends-header">
				You received meeting requests to this users
			</div>
			<div class="col-lg-3 user-block" *ngFor='let request of receivedRequests'
				[hidden]='receivedRequests == null || receivedRequests.length == 0'>
				<div class="text-center">
					<img class="img-circle" [src]='request.Requester.Image' width='220' height='150' />
				</div>

				<div class="name-row">
					{{ request.Requester.Login }} -> {{ request.Requester.Email }}
				</div>

				<div class="text-center">
					<a class="btn-link" (click)='moveToSchedule(request.Requester)'>
                        Go to schedule
                    </a>
					<a class="btn-link" (click)='answerMeetWrapper(request.Requester, 2)' 
						*ngIf='isInReceived(request.Requester.Id) && !isInAccepted(request.Requester.Id)'>
                            Received request.Answer
                    </a>

					<a class="btn-link"
						*ngIf='isInAccepted(request.Requester.Id)'>
                            Meeting arranged
                    </a>
				</div>
			</div>
			
			<div class="col-lg-12 emp-message" *ngIf='receivedRequests == null || receivedRequests.length == 0'>
				You currently have no received meeting requests
			</div>

		</div>
	</div>

</div>

<a href="#x" class="overlay" id="addFriendBox"></a>

<div class="popup show" *ngIf='addingFriend != null'>

	<form>
		<div class="form-group">
			<div class="rloc"> Are you sure you want to send '{{ addingFriend.User.Login }}' - friend request ? </div>
		</div>
		<div style="text-align:center;">
			<input type="submit" style="width:40%;" value="Yes" class="modal-btn" (click)='addFriend()' />
			<input type="reset" style="width:40%;" value="No" class="modal-btn" (click)='addingFriend = null;' />
		</div>
	</form>

	<a class="close" title="Закрыть" (click)='addingFriend = null;'></a>

</div>

<a href="#x" class="overlay" id="answerFrindBox"></a>
<div class="popup show" *ngIf='answeringFriend != null'>

	<form>
		<div class="form-group">
			<div class="rloc"> Are you sure you want to accept '{{ answeringFriend.User.Login }}' - friend request ? </div>
		</div>
		<div style="text-align:center;">
			<input type="submit" style="width:40%;" value="Yes" class="modal-btn" (click)='answerFriend()' />
			<input type="reset" style="width:40%;" value="No" class="modal-btn" (click)='answeringFriend = null;' />
		</div>
	</form>

	<a class="close" title="Закрыть" (click)='answeringFriend = null;'></a>
</div>

<a href="#x" class="overlay" id="deleteFrindBox"></a>
<div class="popup show" *ngIf='deletingFriend != null'>

	<form>
		<div class="form-group">
			<div class="rloc"> Are you sure you want to delete '{{ deletingFriend.User.Login }}' from friends ? </div>
		</div>
		<div style="text-align:center;">
			<input type="submit" style="width:40%;" value="Yes" class="modal-btn" (click)='deleteFriend()' />
			<input type="reset" style="width:40%;" value="No" class="modal-btn" (click)='deletingFriend = null;' />
		</div>
	</form>

	<a class="close" title="Закрыть" (click)='deletingFriend = null;'></a>

</div>

<a href="#x" class="overlay" id="sendMeetingBox"></a>
<div class="popup show" *ngIf='meetingFriend != null'>

	<form>

		<div class="form-group">
			<div class="rloc"> Sending '{{ meetingFriend.User.Login }}' request for meeting ? </div>
		</div>

		<div class="form-group">
		
			<label class="control-label">
				Explain why to meet (optional) 
			</label>
		
			<input type="text" class="form-control" placeholder="Your request text" 
				[(ngModel)]='meetingMessage' name='meetingMessage' />
		
		</div>

		<div style="text-align:center;">
			<input type="submit" style="width:40%;" value="Yes" class="modal-btn" (click)='meetFriend()' />
			<input type="reset" style="width:40%;" value="No" class="modal-btn" (click)='meetingFriend = null;' />
		</div>

	</form>

	<a class="close" title="Закрыть" (click)='meetingFriend = null;'></a>

</div>

<a href="#x" class="overlay" id="answerMeetingBox"></a>
<div class="popup show" *ngIf='answeringMeetingUser != null'>

	<form>

		<div class="form-group">
			<div class="rloc">
				Accept '{{ answeringMeetingUser.User.Login }}' request for meeting ? 
				<span *ngIf='answeringMeeting != null && answeringMeeting.RequestText != null && answeringMeeting.RequestText != ""'> 
					{{ answeringMeetingUser.User.Login }} wrote '{{ answeringMeeting.RequestText }}' 
				</span> 
			</div>
		</div>

		<div class="form-group">
		
			<label class="control-label">
				Input answer (optional) 
			</label>
		
			<input type="text" class="form-control" placeholder="Your request text" 
				[(ngModel)]='answeringMessage' name='answeringMessage' />
		
		</div>

		<div style="text-align:center;">
			<input type="submit" style="width:40%;" value="Yes" class="modal-btn" (click)='sendMeetAnswer()' />
			<input type="reset" style="width:40%;" value="No" class="modal-btn" (click)='answeringMeetingUser = null;' />
		</div>

	</form>

	<a class="close" title="Закрыть" (click)='answeringMeetingUser = null;'></a>

</div>