.header-row {
  color: palegoldenrod;

  border-bottom: 10px solid #fafafa;
  border-radius: 100px;
}

.header-title {
  margin: 10px;
  color: palegoldenrod;
}

.header-link {
  color: #999;
  border-bottom: 4px solid palegoldenrod;

  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.header-link:hover {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.header-link-container {
  margin-top: 10px;
  text-align: center;
}

.back-wrapper {
  background-color: #fc6;
  margin: 0 10px;
  padding-bottom: 20px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  min-width: 100%;
}

.form-container {
  margin: 50px 25% 20px 25%;
  background-color: white;
  padding-bottom: 15px;
}

.form-header {
  color: #444;
  text-align: center;
}

.login-label {
  text-align: right;
  font-style: italic;
  color: #444;
  margin-top: 5px;
}

.login-input {
  min-width: 250px;
  max-width: 280px;
  border: none;
  border-bottom: 3px solid palegoldenrod;
}

.login-input:focus {
  outline: none;
  border: 3px solid palegoldenrod;
  border-top: none;
  border-bottom: 5px solid palegoldenrod;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  border: 2px solid #480;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.submit-btn:hover {
  outline: none;
  background-color: #480;
  color: white;
}

.submit-btn:focus {
  background-color: #480;
  color: white;
}

.profile-header {
  color: #777;
  margin-top: 10px;
  display: inline;
}