.header-row {
  color: palegoldenrod;

  border-bottom: 10px solid #fafafa;
  border-radius: 100px;
}

.header-title {
  margin: 10px;
}

.header-link {
  color: #999;
  border-bottom: 4px solid palegoldenrod;

  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.header-link:hover {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.header-link-container {
  margin-top: 10px;
  text-align: center;
}

.profile-header {
  color: #777;
  margin-top: 10px;
  display: inline;
}