body {
  max-width: 100%;
}

.header-row {
  color: palegoldenrod;

  border-bottom: 10px solid #fafafa;
  border-radius: 100px;
}

.header-title {
  margin: 10px;
}

.header-link {
  color: #999;
  border-bottom: 4px solid palegoldenrod;

  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.header-link:hover {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.header-link-container {
  margin-top: 10px;
  text-align: center;
}

.main-container {
  margin-top: 20px;
  background-color: #fafafa;
  padding: 40px;
}

.description {
  background-color: white;
  padding: 20px;
}

.general-description {
  font-style: italic;
}

.list-item-header {
  font-weight: bolder;
  color: #aa0;
  font-size: larger;
}

.list-item {
  margin-bottom: 10px;
}

.list-item-marker {
  display: inline;
  border: none;
  border-right: 15px solid palegoldenrod;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 5px;
  min-width: 10px;
}

.description-footer {
  display: block;
  margin-left: 25%;
  margin-right: 25%;

  text-align: center;
  border-top: 5px solid #fafafa;
  padding-top: 5px;
  font-weight: bolder;
  font-size: larger;
  margin-top: 10px;
}

.join-container {
  margin-top: 20px;
}

.join-header-row {
  font-size: larger;
  color: #444;

  margin-left: 30%;
  margin-right: 30%;
  letter-spacing: 3px;

  margin-bottom: 20px;
}

.join-main-row {
  border: 3px solid palegoldenrod;

  margin-left: 15%;
  margin-right: 15%;

  border-radius: 10%;
}

.join-left-block {
  min-height: 100px;
  padding: 30px;
  border-right: 5px solid palegoldenrod;
  text-align: center;
}

.join-right-block {
  min-height: 100px;
  padding: 30px;
}
.join-link {
  margin-top: 40px;
  margin-left: 35%;
  margin-right: 35%;

  color: #999;
  border-bottom: 4px solid palegoldenrod;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.join-link.inverse {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.join-link:hover {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #999;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}

.profile-header {
  color: #777;
  margin-top: 10px;
  display: inline;
}

input {
  max-width: 320px;
}

.search-wrapper {
  margin-top: 30px;
  background-color: #fafafa;
  padding: 40px;
}

.search-container {
  background-color: white;
  padding: 20px;
}

.search-box {
  min-width: 300px;
  border: none;
  border-bottom: 5px solid #888;
  padding: 4px;
  background-color: #888;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: palegoldenrod;
  text-align: center;
}

.search-box:hover {
  outline: none;
}

.search-box:focus {
  outline: none;
}

.search-link {
  border: 1px solid #888;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  color: #888;
  min-width: 300px;
}

.search-link:hover {
  background-color: #888;
  color: palegoldenrod;
  text-decoration: none;
}