body {
  max-width: 100%;
}

.header-row {
  color: palegoldenrod;

  border-bottom: 10px solid #fafafa;
  border-radius: 100px;
}

.header-title {
  margin: 10px;
}

.header-link {
  color: #999;
  border-bottom: 4px solid palegoldenrod;

  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.header-link:hover {
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.header-link-container {
  margin-top: 10px;
  text-align: center;
}

.profile-header {
  color: #777;
  margin-top: 10px;
  display: inline;
}

.page-header {
    font-weight: bolder;
    font-size: larger;
    color: palegoldenrod;
    border-bottom: none !important;
    text-align: right;
}

.date-header {
    color: #777;
    font-size: larger;
    margin-top: 5px;
    font-weight: bolder;
    border-bottom: 3px solid #eee;
    padding: 2px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.btn-nav {
    border: none;
    background-color: white;
}

.btn-nav:focus {
    outline: none;
}

.btn-nav:active {
    background-color: palegoldenrod;
}

.btn-nav:hover {
    background-color: palegoldenrod;
}

.btn-nav:visited {
    outline: none;
    border:none;
}

.nav-btn {
    border-bottom: 3px solid #eee;
    border-left: 3px solid #eee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 40%;
    border-right: 3px solid #eee;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 40%;
}

.padding-0 {
    padding: 0 !important;
}

.event-row {
    padding: 10px;
    
    border-left: 10px solid #eee;
    border-right: 10px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 20%;

    border-top-right-radius: 20%;
    border-bottom-right-radius: 10px;

    margin: 10px;
}

.create-event {
    text-align: right;
    font-size: larger;
    color: palegoldenrod;
    font-style: italic;
    background-color: #e9e9e9;
}

.create-event > a {
    background-color: white;
    margin: 5px;
    padding: 5px;
    color: palegoldenrod;
    display: inline-block;
    cursor: pointer;
}

.create-event > a:hover {
    text-decoration: none;
    font-style: italic;
}

input {
    max-width: 320px;
}

.selected-event-row {
    background-color: #666;
    color: white;
}

.delete-event-container {
    background-color: #fc6;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.delete-header {
    background: linear-gradient(to left, #fc6, white 10%, white 90%, #fc6);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    display: block;
    margin-top: 30px;
    margin-bottom: 0 !important;

}

.btn-row {
    background-color: white;
    display: block;
    margin: 0 !important;

    padding-left: 10%;
    padding-right: 10%;

    background: linear-gradient(to left, #fc6, white 10%, white 90%, #fc6);

    color: #878787;
    text-align: center;
    font-weight: bolder;
}

.delete-link  {
    color: #878787;
    cursor: pointer;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.delete-link:hover {
    background-color: white;
    outline: 3px solid palegoldenrod;
    text-decoration: none;
    border-radius: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-50 {
    margin-right: 50px !important;
}