html, body {
    max-width: 100%;
}

.search-container {
  background-color: white;
  padding: 20px;
}

.search-box {
  min-width: 300px;
  border: none;
  border-bottom: 5px solid #888;
  padding: 4px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #888;
  border: 1px solid #888;
  text-align: center;
}

.search-box:hover {
  outline: none;
}

.search-box:focus {
  outline: none;
}

.search-link {
  border: 1px solid #888;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  color: palegoldenrod;
  background-color: #888;
  min-width: 300px;
}

.search-link:hover {
  background-color: #888;
  color: palegoldenrod;
  text-decoration: none;
}

.result-container {
    border-left: 5px solid #888;
    min-height: 300px;
}

.user-block {
    border: 2px solid #eee;
    padding: 10px;
    margin-left: 5%;
    margin-right: 20px;
    margin-top: 20px;
}

.name-row {
    background-color: #555;
    color: white;

    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;
}

.btn-link {
    color: #555;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    display: block;
    padding: 5px;
}

.btn-link:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.pre-header {
    min-width: 20px;
    border-bottom: 2px solid #555;
    border-bottom-left-radius: 50%;
    border-left: 2px solid #555;
    display: inline-block;
}

.color-555 {
    color: #555;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

}
/* активируем слой затемнения */

/* стили модального окна */
.popup {
text-align:center;
border: 3px solid #555;
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    background: white;
    border-radius: 30px;
    font-size: 24px;

    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);

    transform: translate(-50%, -500%);

    transition: transform 0.6s ease-out;
}

.show {
    transform: translate(-50%, 0);
    top: 20%;
}

.modal-btn {
  background-color: white;
  color: #555;
}

.modal-btn:hover {
  background-color: #555;
  color: white;
}

.close {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;

    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);

    transform: rotate(360deg);    
}

.menu-container {
    margin-top: 30px;
    
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    border-radius: 20%;
    padding: 20px 10px;

    position: fixed;

    width: 23%;
    left: 1%;
}

.menu-item {
    padding: 5px;
    color: #555;
    text-align: center;
    font-weight: bolder;
    display: block;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: none;
    color: white;
    background-color: #555;
    border-radius: 10px;
}

.menu-item.selected {
    text-decoration: none;
    color: white;
    background-color: #555;
    border-radius: 10px;
}

.friends-header {
    color: palegoldenrod;
    font-weight: bolder;
    padding: 5px 20px;
    border-bottom: 3px solid #555; 
    margin: 10px 20px;
    background-color: #fcfcfc;
}

.emp-message {
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}